/*============================
FONTS
============================*/
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/*============================
GLOBAL VARIABLES
============================*/
:root {
    --clr-dark-cyan: hsl(185, 75%, 39%);
    --clr-very-dark-desat-blue: hsl(229, 23%, 23%);
    --clr-dark-grayish-blue: hsl(227, 10%, 46%);
    --clr-gray-dark: hsl(0, 0%, 59%);
    --radius: 8px;
    --radius-2: 40px;
    --ff-primary: "Kumbh Sans", sans-serif;
    --ff-size: 18px;
}
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: grid;
    place-items: center;
    gap: 1rem;
    background: var(--clr-dark-cyan);
    padding-top: 10%;
    font-size: var(--ff-size);
    font-family: var(--ff-primary);
    color: var(--clr-gray-dark);
    transition: all .3s;
}
body::before,
body::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all .5s;
    position: fixed;
}
body::before{
    background: linear-gradient(60deg, hsla(195, 90%, 37%, 0.35), hsla(174, 100%, 66%, 0.337));
    clip-path: circle(50% at -20% top);
}
body::after{
    background: linear-gradient(45deg,hsla(174, 100%, 66%, 0.337),  hsla(195, 90%, 37%, 0.35));
    clip-path: circle(50% at 110% bottom);
}
h1,
h2 {
    font-family: var(--ff-primary);
    color: var(--clr-very-dark-desat-blue);
    font-size: var(--ff-size);
    font-weight: 700;
}
.card {
    width: 350px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    position: relative;
}
.card__bg-img {
    width: 100%;
    height: 150px;
    background: url("./images/bg-pattern-card.svg");
    background-size: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.card__person-img {
    border: 7px solid white;
    background: white;
    border-radius: 50%;
    position: absolute;
    width: 125px;
    height: auto;
    margin: 0 auto;
    transform: translate(90%, 70%);
}
.card__header-text {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    place-items: center;
}
.card__header-text > div {
    display: flex;
    margin-top: 3rem;
}
.card__header-text > div span {
    margin-left: 0.4em;
}
.card__header-text p {
    margin-top: 1em;
    font-size: 15px;
}
.card__name {
    display: inline;
}
.card__age {
    display: block;
}
.card__city {
    display: block;
}
.card__stats-container {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    text-align: center;
    padding: 1.5rem;
    border-top: 1px solid hsla(0, 0%, 59%, 30%);
}
.card__stats-container div {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.attribution {
    color: white;
    font-size: 11px;
    text-align: center;
    padding: 2rem;
}
.attribution a {
    color: white;
}
@media screen and (min-width: 700px) {
    body::before{
        clip-path: circle(50% at -4% top);
    }
    body::after{
        clip-path: circle(50% at 100% bottom);
    }
}
@media screen and (min-width: 1000px) {
    body::before{
        clip-path: circle(50% at 4% top);
    }
    body::after{
        clip-path: circle(50% at 95% bottom);
    }
}
@media screen and (min-width: 1400px) {
    body::before{
        clip-path: circle(50% at 8% top);
    }
    body::after{
        clip-path: circle(50% at 90% bottom);
    }
}
